.start {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.yt-player-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0rem 1rem;
  margin: 1.5rem 0;
}

iframe {
  width: 37.5rem;
  height: 19.75rem;
}

.yt-player__content {
  max-width: 37.5rem;
}

.start h2 {
  font-size: 2rem;
  margin: 1.5rem 0rem;
  color: #f17d80;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.2rem 0rem;
  color: #f17d80;
}

p {
  font-size: 18px;
  line-height: 1.5rem;
  margin: 1.2rem 0rem;
}

@media screen and (max-width: 480px) {
  iframe {
    width: 480px;
    height: 260px;
  }
}
