.yt-player {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1.5rem;
}

h3 {
  font-size: 2rem;
  justify-content: center;
  margin: 1.5rem;
  color: #f17d80;
}

p {
  font-size: 18px;
  line-height: 1.5rem;
  margin: 1.5rem;
}
