* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: bisque;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0rem 1rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.header-container h1 {
  font-size: 3rem;
  margin: 1.5rem 0rem;
  color: #f17d80;
}
